body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "ProductSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(249, 248, 248);
  align-content: center;
   
}

