/*.contenedorTexto {
    width: 15em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 2em;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(245, 245, 245);
}

.contenedorCajas {
    display: flex;
    justify-content: center;
}*/

@media screen and (max-width: 400px) {
    
    .contenedorCajas {
        display: inline-block;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
    }
}

/*.contenedorTexto:hover {
    transform: translateY(-3px);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.6);
}

.contenedorImagen {
    width: 100%;
    height: 9em;
}

.contenedorTitulo {
    font-weight: bolder;
    font-size: 1.4em;
    margin: 0.5em;
}

.contenedorParrafo {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em;
}

.botonMasInfo {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #4433ff;
    color: #2b2380;
}

.botonMasInfo:hover {
    color: #fff;
}

.botonMasInfo:hover:after {
    width: 100%;
}

.botonMasInfo:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #4433ff;
    margin: 0.3em 0.5em 1em 0.5em;
}*/
.contenedorTexto{
background-color: #ECEAEA;
    margin: 0 auto 5em;
    text-align: center;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    width: 100%;
    max-width: 450px

}


.contenedorImagen{
    background-color: #ECEAEA;
        margin: 0 auto 1em;
        text-align: center;
        -webkit-transition: background-color .3s;
        -o-transition: background-color .3s;
        transition: background-color .3s;
        width: 100%;
        max-width: 380px;
       }

.contenedorTitulo{
padding-bottom: 5px;
    padding-top: 24px;
    margin: 0 0 0 -3px;
    font-weight: 800
    
}

.contenedorParrafo
{
    font-size: 1em;
    font-weight: 700;
    color: #747373;
    letter-spacing: .1em;
    margin-bottom: 0;
}
.link{
    border: none;
        display: block;
        padding: 20px;
        -webkit-transition: background-color .3s ease;
        -o-transition: background-color .3s ease;
        transition: background-color .3s ease;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0 10px
}
.link:focus,
.link:hover {
    background-color: #D3D3D3
}
@media(min-width:992px) {
    .link {
        padding: 40px
    }
}

.grid-item--full-width-alt .grid-item__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0 10px
}

@media(max-width:767px) {
    .grid-item--full-width-alt .grid-item__link {
        padding: 0 10px
    }
}

@media(min-width:768px) {
    .grid-item--full-width-alt .grid-item__link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 40px
    }
}

.grid-item--full-width-alt .grid-item__link:hover {
    background-color: #fff
}
.grid-item__link {
    border: none;
    display: block;
    padding: 20px;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease
}

@media(min-width:992px) {
    .grid-item__link {
        padding: 40px
    }
}

.grid-item__link:focus,
.grid-item__link:hover {
    background-color: #D3D3D3
}
