* {
    margin: 0;
    padding: 0;
}
.cuerpo2 {
  
    display: block;
    align-items: center;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-self: center;
    align-items: center;

}
.castor03{
display: block;
position: relative;


}
@media(min-width:992px) {
    .castor03 {
        min-height: 610px
    }
}



.cabeza1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 3.75em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2%;
}

/* Empieza ENCABEZADO*/
.img0 {
    height: auto;
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
}

.simple-contenido-header__title {
    padding-bottom: 5%;
    padding-top: 24%;
    margin: 0 0 0 -3%;
    font-weight: 800;
}

.simple-contenido-header__entry-meta {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    font-size: 1em;
    font-weight: 700;
    color: #747373;
    letter-spacing: .1em;
    margin-bottom: 0;
}

.simple-contenido-header__entry-meta2 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    font-size: 1em;
    font-weight: 700;
    color: #141414;
    letter-spacing: .1em;
    margin-bottom: 0;
}

/* TERMINA ENCABEZADO*/

/* CONTENIDO DEBAJO*/
.contenido1 h4 h1 {
    font-size: .8rem;
    font-weight: 400
}

.contenido1 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: block;
   text-align: center;
    margin-top: 2%;
   
}

.textoddc {
    padding-bottom: 2%;
    padding-top: 2%;
    font-weight: bolder;
    display: block;
    align-self: center;
    margin-top: 2.5%;
    font-size: 1.5em;
    
}

.tamañopie {
    height: auto;
    width: 35%;
    margin-left: 10%;
    padding-bottom: 5%;
}

.tamaño {
    width: 65%;
    height: auto;
    margin-left: 15%;
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    max-width: 80%;
    max-height: 95vh;
    margin: 0 auto;
}

.contenidobody {
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: none
}

/*@media (max-width:700px) {
    .cabeza1 {
        flex-direction: column;
    }

    .tamaño {
        width: 65%;
        height: auto;
        margin-left: 15%;
        padding: 2%;
    }
}

@media (min-width:701px) {

    .tamaño {
        width: 65%;
        height: auto;
        margin-left: 15%;
        padding: 2%;
    }

    .contenido1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

    }
}

@media(max-width:767px) {
    .contenido1 {
        width: 100%
    }
}*/